<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
</head>

<body  class="container">
  <header>
    <%- include('./partials/header2'); %>
  </header>
  <main>
    <div class="row">
      <div class="col-sm-10">
        <h4>Current Weather Report</h4>
        <div class="jumbotron jumbotron-fluid">
          <fieldset>
            <form action="/" method="post">
              <input name="locale" type="text" class="ghost-input" placeholder="Enter a City" required>
              <input type="submit" class="btn btn-sm btn-outline-success ghost-button" value="Get Weather">
            </form>
          </fieldset>
          <br />

          <% if( typeof(error)==="undefined" ){ %>
            <p style="color:gray"> Awaiting user input.</p>
            <% } else { %>
              <h6><%= locale %></h6>
              <div class="container-fluid">
              <table class="styled-table">
                <thead>
                  <tr class="w-35">
                    <th>Time</th>
                    <th>Condition</th>
                    <th>Temperature</th>
                    <th>FeelsLike</th>                    
                    <th>Sunrise</th>
                    <th>Sunset</th>
                    <th>Moon_Phase</th>
                    <th>Visibility</th>
                    <th>Cloud_Cover</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="active-row">
                    <td>
                      <%= data.datetime %>
                    </td>
                    <td>
                      <%= data.icon %>
                    </td>
                    <td>
                      <%= data.temp %>
                    </td>
                    <td>
                      <%= data.feelslike %>
                    </td>
                    <td>
                      <%= data.sunrise %>
                    </td>
                    <td>
                      <%= data.sunset %>
                    </td>
                    <td>
                      <%= data.moonphase %>
                    </td>
                    <td>
                      <%= data.visibility %>
                    </td>
                    <td>
                      <%= data.cloudcover %>
                    </td>

                  </tr>
                </tbody>
                <thead>
                  <tr class="w-35">
                    <th> Humidity</th>
                    <th> Dew_like </th>
                    <th> Precipitation </th>
                    <th> Snow_Depth </th>
                    <th> Wind_Gust </th>
                    <th> Wind_Speed </th>
                    <th> Wind_Direction </th>
                    <th> Barimetric_Pressure </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="active-row">
                    <td>
                      <%= data.humidity %>
                    </td>                    
                    <td>
                      <%= data.dew %>
                    </td>
                    <td>
                      <%= data.precip %>
                    </td>
                    <td>
                      <%= data.snowdepth %>
                    </td>
                    <td>
                      <%= data.windgust %>
                    </td>
                    <td>
                      <%= data.windspd %>
                    </td>
                    <td>
                      <%= data.winddir %>
                    </td>
                    <td>
                      <%= data.pressure %>
                    </td>
                  </tr>
                </tbody>
              </table>
              </div>
              <% } %>

        </div>
      </div>
      <div class="col-sm-2">
        <div class="well">
          <h5 style="color:gray">Reserved Ad space</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10">
        <h5>Extended Weather Forecast</h5>
      </div>
    </div>

  </main>
  <footer>
    <%- include('./partials/footer'); %>
  </footer>
</body>

</html>