<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
</head>

<body class="container">
  <header>
    <%- include('./partials/header2'); %>
  </header>
  <main>
    <br />
    <div>
      <fieldset>
        <form action="/" method="post">
          <a>WeatherBit :-) </a>
          <input name="locale" type="text" class="ghost-input" placeholder="Enter a City" required>
          <input type="submit" class="btn btn-sm btn-outline-success ghost-button" value="Get Weather">
        </form>
      </fieldset>
      <hr />
    </div>

    <div class="row">
      <div class="col-sm-8">
        <h5>Current Conditions</h5>
        <div class="jumbotron jumbotron-fluid">
          <% if( typeof(error) === "undefined"  || curStatus === 400 ){ %>
            <p style="color:gray"> Try a new input.</p>
            <% } else { %>
              <p style="color:gray"><strong>City</strong>: <%= curData.city_name %> , <%= curData.state_code %>
                    <br />
                    <strong>Geolocation</strong>: <%= curData.lat %>, <%= curData.lon %>
                        <br />
                        <strong>Time zone: </strong>
                        <%= curData.timezone %>
                          <br />
                          <hr />
              </p>
              <table class="styled-table">
                <tr class="active-row">
                  <th>Datetime: </th>
                  <td>
                    <%= curData.ob_time %>
                  </td>
                </tr>
                <th>Cloud cover(%): </th>
                <td>
                  <%= curData.clouds %>
                </td>
                </tr>
                <th>Temperature(F): </th>
                <td>
                  <%= curData.temp %>
                </td>
                </tr>
                <th>Feels like(F): </th>
                <td>
                  <%= curData.app_temp %>
                </td>
                </tr>
                <th>Relative humidity (%): </th>
                <td>
                  <%= curData.rh %>
                </td>
                </tr>
                <th>Visibility: </th>
                <td>
                  <%= curData.vis %>
                </td>
                </tr>
                <th>Pressure(mb): </th>
                <td>
                  <%= curData.pres %>
                </td>
                </tr>
                <th>Sea Level Pressure(mb): </th>
                <td>
                  <%= curData.slp %>
                </td>
                </tr>
                <th>Wind Speed(m/s): </th>
                <td>
                  <%= curData.wind_spd %>
                </td>
                </tr>
                <th>Wind Direction: </th>
                <td>
                  <%= curData.wind_cdir_full %>
                </td>
                </tr>
                <th>Snowfall(mm/hr): </th>
                <td>
                  <%= curData.snow %>
                </td>
                </tr>
                <th>UV Index: </th>
                <td>
                  <%= curData.uv %>
                </td>
                </tr>
                <th>Air Quality Index: </th>
                <td>
                  <%= curData.aqi %>
                </td>
                </tr>
                <th>Sunrise: </th>
                <td>
                  <%= curData.sunrise %>
                </td>
                </tr>
                <th>Sunset: </th>
                <td>
                  <%= curData.sunset %>
                </td>
                </tr>
              </table>

              <% } %>
        </div>
      </div>
    

      <h5>Weather Alerts</h5>  
    <div class="col-sm-3">
      <div class="well">
      </div>
    </div>
    </div>
  </div>
    <div class="row">
      <div class="col-sm-12">
        <h5>Extended Forecast</h5>
        <div class="jumbotron jumbotron-fluid">
          <% if( typeof(error) === "undefined" || foreStatus === 400 ){ %>
            <p style="color:gray"> Waiting new user input.</p>
          <% } else { %>
          <table class="styled-table">
            <thead>
              <tr class="w-35">
                <th>Date</th>
                <th>Condition</th>
                <th>Max/Min Temperature</th>
                <th>Temperature(F)</th>
                <th>Pressure</th>
                <th>Humidity</th>
                <th>Wind Gust</th>
                <th>Wind Speed</th>
                <th>Wind Direction</th>
                <th>Cloud Cover</th>
                <th>Visibility</th>
                <th>UV Index</th>
                <th>Sunrise/Sunset</th>
                <th>Moonphase</th>
              </tr>
            </thead>
            <% let forecast = foreData.data; %>                
            <% for (let i=0; i < forecast.length; i++) { %>
              <tbody>
                <tr class="active-row">
                  <td>
                    <%= forecast[i].datetime %>
                  </td>
                  <td>
                    <%= forecast[i].weather.description %>
                  </td>
                  <td>
                    <%= forecast[i].app_max_temp %>/<%= forecast[i].app_min_temp %>
                  </td>
                  <td>
                    <%= forecast[i].temp %>
                  </td>
                  <td>
                    <%= forecast[i].slp %>
                  </td>
                  <td>
                    <%= forecast[i].rh %>
                  </td>
                  <td>
                    <%= forecast[i].windgust %>
                  </td>
                  <td>
                    <%= forecast[i].wind_spd %>
                  </td>
                  <td>
                    <%= forecast[i].wind_gust_spd %>
                  </td>
                  <td>
                    <%= forecast[i].wind_cdir_full %>
                  </td>
                  <td>
                    <%= forecast[i].clouds %>
                  </td>
                  <td>
                    <%= forecast[i].vis %>
                  </td>
                  <td>
                    <%= forecast[i].uv %>
                  </td>
                  <td>
                    <%= forecast[i].sunrise_ts %> / <%= forecast[i].sunset_ts %>
                  </td>
                  <td>
                    <%= forecast[i].moon_phase_lunation %>
                  </td>
                </tr>
              </tbody>
            <% }} %>
          </table>
        </div>

      </div>

    </div>


  </main>
  <footer>
    <%- include('./partials/footer'); %>
  </footer>
</body>

</html>