<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>


<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-10">
                <div class="jumbotron jumbotron-fluid">
                    <header>
                        <h3>Welcome <strong style="color:goldenrod"><%= user.username %></strong></h3>
                    </header>
                    <main>
                        <img src="<%= user.thumbnail %>" />
                        <hr>
                        <h4>Select</h4>
                        <p><strong>Application features</strong></p>
                        <input type="checkbox" id="weather-report" name="weather" value="weather">
                        <label for="weather-report"> Weather Report</label><br>
                        <input type="checkbox" id="currencyrate" name="currencyrate" value="currency">
                        <label for="currencyrate"> Currency Exchange Rate</label><br>
                        <input type="checkbox" id="travel-guide" name="travel" value="travel">
                        <label for="travel-guide"> Travel Guide</label><br>
                        <input type="checkbox" id="hotel-reservation" name="hotel" value="hotel">
                        <label for="hotel-reservation"> Hotel Search & Reservation</label><br>
                        <input type="checkbox" id="Restaurant-reservation" name="restaurant" value="restaurant">
                        <label for="hotel-reservation"> Restaurant Search & Reservation</label><br>

                        <hr>
                        <p><strong>Productivity</strong></p>
                        <input type="checkbox" id="personalManager" name="organizer" value="organizer">
                        <label for="personalManager"> Personal Organizer</label><br><br>
                        <input type="submit" class="btn btn-sm btn-outline-success ghost-button" name="commit-features" value="Save & Continue">
                    </main>

                </div>
            </div>

            <div class=" col-sm-2 ">
                <div class="well ">
                    <h3>Reserved Ad space</h3>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>